# Rust build artifacts
/target
**/target

# Cargo files
**/Cargo.lock

# VS Code settings
.vscode/
**/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore copilot-instructions files
**/copilot-instructions.md

# Ignore .idea files and folders
**/.idea/